@*   Copyright 2021-present Etherna Sagl
 *
 *   Licensed under the Apache License, Version 2.0 (the "License");
 *   you may not use this file except in compliance with the License.
 *   You may obtain a copy of the License at
 *
 *       http://www.apache.org/licenses/LICENSE-2.0
 *
 *   Unless required by applicable law or agreed to in writing, software
 *   distributed under the License is distributed on an "AS IS" BASIS,
 *   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *   See the License for the specific language governing permissions and
 *   limitations under the License.
 *@

@page
@model Etherna.EthernaIndex.Areas.Admin.Pages.VideoManifests.IndexModel
@{
    ViewData["Title"] = "Video Manifests";

    var pageSelectorModel = new PageSelectorModel(Model.CurrentPage, Model.MaxPage);
}

<div class="row">
    <div class="col-12 mb-3 text-center mt-1">
        <h2>@ViewData["Title"]</h2>
    </div>
</div>

<form method="post"
      asp-route-p="@Model.CurrentPage">

    <div class="form-row">
        <div class="col-4 mb-3">
            <input asp-for="Input.ManifestHash" type="text" placeholder="manifest hash" class="form-control" />
        </div>
    </div>

    <div class="form-row">
        <div class="col-12 mb-3">
            <input type="submit" class="btn btn-primary" value="Find" />
        </div>
    </div>
</form>

<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Manifest Hash</th>
                        <th>Title</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var videoReport in Model.VideoManifests)
                    {
                    <tr>
                        <td class="align-middle">
                            <a class="btn btn-primary" asp-page="Manifest" asp-route-manifestHash="@videoReport.ManifestHash">Manage</a>
                        </td>
                        <td class="align-middle">@videoReport.ManifestHash</td>
                        <td class="align-middle">@videoReport.Title</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <partial name="_PageSelector" model="pageSelectorModel" />
    </div>
</div>