@*  *   Copyright 2021-present Etherna Sagl
    *
    *   Licensed under the Apache License, Version 2.0 (the "License");
    *   you may not use this file except in compliance with the License.
    *   You may obtain a copy of the License at
    *
    *       http://www.apache.org/licenses/LICENSE-2.0
    *
    *   Unless required by applicable law or agreed to in writing, software
    *   distributed under the License is distributed on an "AS IS" BASIS,
    *   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    *   See the License for the specific language governing permissions and
    *   limitations under the License.
*@

@page
@model Etherna.EthernaIndex.Areas.Admin.Pages.VideoReports.ManageModel
@{
    ViewData["Title"] = Model.VideoReport.Title;

    var pageSelectorModel = new PageSelectorModel(Model.CurrentPage, Model.MaxPage);
}

<div class="row">
    <div class="col-12 mb-3 text-center mt-1">
        <h2>@ViewData["Title"]</h2>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Manifest Hash</th>
                        <th>Reporter Address</th>
                        <th>Report Date</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var videoReport in Model.VideoReport.DetailReports)
                    {
                    <tr>
                        <td class="align-middle">@videoReport.Description</td>
                        <td class="align-middle">@videoReport.ManifestHash</td>
                        <td class="align-middle">@videoReport.ReporterAddress</td>
                        <td class="align-middle">@videoReport.ReportDate</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <partial name="_PageSelector" model="pageSelectorModel" />
    </div>
</div>

<form id="client-form" Method="post">
    <div class="form-row">
        <div class="col-12 mb-3">
            <input type="hidden" asp-for="VideoReport.ManifestHash" name="ManifestHash" />
            <input type="hidden" asp-for="VideoReport.VideoId" name="VideoId" />
            <input type="submit" asp-page-handler="ApprovedManifest" class="btn btn-primary" value="Approve Manifest" name="button" />
            @if (Model.VideoReport.HasOtherValidManifest)
            { 
                <input type="submit" asp-page-handler="RejectManifest" class="btn btn-primary" value="Reject Manifest" name="button" /> 
            }
            <input type="submit" asp-page-handler="RejectVideo" class="btn btn-primary" value="Reject Video" name="button" />
        </div>
    </div>
</form>